src/schemas/nav/gov/hu/SAF-T_HU/SAFTHU_General_Ledger_Entries_Headers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 sp1 (x64) (http://www.altova.com) by NAV (Hungarian Tax Authority) -->
<!-- Létrehozta a Nemzeti Adó és Vámhivatal -->
<!-- Ez egy részsablon. A SAFT_HU__Integrated_mod_0316.xsd szerinti adattartalommal -->
<xs:schema xmlns="http://schemas.nav.gov.hu/SAFT_HU/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.nav.gov.hu/SAFT_HU/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00" id="SAFT-HU">
	<!-- SAFTHU definitions, data types and OECD guideline compatibility -->
	<xs:include schemaLocation="./SAFT_HU_Definitions.xsd"/>
	<!-- -->
	<xs:element name="AuditFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:annotation>
						<xs:documentation xml:lang="hu">Általános információk a szoftverről, melyből az adatok származnak, valamint a vizsgálat alá vont társaság adatai.</xs:documentation>
						<xs:documentation xml:lang="en">Holds general information about the file including the name of the software which produced it; the company on whose behalf the SAF-T is being submitted; and the selection criteria used.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="SAFTHUHeaderStructure">
								<xs:sequence>
									<xs:element name="TaxEntity" type="SAFTmiddle2textType">
										<xs:annotation>
											<xs:documentation xml:lang="hu">Az egység / divízió / ág hivatkozás egyedi azonosítója, amennyiben az adózó adatai több különálló rendszerből származnak. Pl. 1-es raktár</xs:documentation>
											<xs:documentation xml:lang="en">Unique identifier of unit / Division / Branch reference E.g. Warehouse 1</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FileContentType">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájl tartalma. Opciók: 
												„GL” - főkönyvi adatok, 
												„MD” - törzsadatok,
												„SI” - kimenő számla adatok, 
												„PI” - bejövő számla adatok, 
												„TR” - fizetési adatok, 
												„PS” - készlet adatok,
												„MG” - készletmozgás adatok,
												„AS” - gazdasági események adatai, 
												„VA” - ÁFA analitika,
												„RD" - egyéb jelentési adatok</xs:documentation>
											<xs:documentation xml:lang="en">Type of content that the file contains. Options: 
												“GL” – the data of a general ledger, 
												“MD” – master data, 
												"SI” – sales information, 
												“PI” – purchase information, 
												“TR” – payment data, 
												“PS” – physical stock, 
												“MG” – movement of goods, 
												“AT” – data of economic transactions or economic asset events,
												"VA" - VAT Analytics Data,
												"RD" - other reporting data</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="SAFTcodeType">
												<xs:enumeration value="GL"/>
												<xs:enumeration value="MD"/>
												<xs:enumeration value="SI"/>
												<xs:enumeration value="PI"/>
												<xs:enumeration value="TR"/>
												<xs:enumeration value="PS"/>
												<xs:enumeration value="MG"/>
												<xs:enumeration value="AT"/>
												<xs:enumeration value="VA"/>
												<xs:enumeration value="RD"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="NumberOfParts" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájldarabok száma.</xs:documentation>
											<xs:documentation xml:lang="en">Total of number of parts of the file.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PartNumber" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájldarab sorszáma (például 1, 2, 3, ...), ha egy SAF-T fájl több darabra van tagolva.
Az entitás, a fájltartalom (DataType) és az időszak (PeriodStart - PeriodEnd) értékei minden fájlrészben egybeesnek.</xs:documentation>
											<xs:documentation xml:lang="en">Number of the file part (e.g. 1, 2, 3,...), when a SAF-T file is divided in parts. 
The values of the Entity , File Content (DataType) and period (PeriodStart – PeriodEnd) must coincide in all file parts.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="TransactionalData">
					<xs:annotation>
						<xs:documentation xml:lang="hu">Tranzakciós adatok és jelentések</xs:documentation>
						<xs:documentation xml:lang="en">Transactional data and reports</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GeneralLedgerEntriesHeaders" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Könyvelési tranzakciók</xs:documentation>
									<xs:documentation xml:lang="en">General ledger Header Transactions</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NumberOfHeaderEntries" type="xs:nonNegativeInteger">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Főkönyvi tranzakciók fejlécének száma</xs:documentation>
												<xs:documentation xml:lang="en">Number of entries on the general ledger headers</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Header" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Főkönyvi tranzakciók fejlécének adatai.</xs:documentation>
												<xs:documentation xml:lang="en">Information of the header of the general ledger entry.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="JournalID" type="SAFTshorttextType" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="hu">A napló azonosítója a Journals struktúra alapján.</xs:documentation>
															<xs:documentation xml:lang="en">Journal Id that should be on the Journals structure.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="TransactionID" type="SAFTmiddle2textType">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Könyvelési tranzakció egyedi azonosító</xs:documentation>
															<xs:documentation xml:lang="en">A unique number assigned to the general ledger entry</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Period" type="SAFTshorttextType">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Könyvelési időszak (hónap)</xs:documentation>
															<xs:documentation xml:lang="en">Accounting Period (month) of the transaction
</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="PeriodYear">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Könyvelési időszak (év).</xs:documentation>
															<xs:documentation xml:lang="en">Accounting Period (Year) of the transaction</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:nonNegativeInteger">
																<xs:minInclusive value="1970"/>
																<xs:maxInclusive value="2100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="TransactionDate" type="xs:date">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Tranzakció dátuma, amely a főkönyvi feladást keletkeztető dokumentum dátuma</xs:documentation>
															<xs:documentation xml:lang="en">Transaction date, meaning the date of the document that originates the general ledger posting.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="TransactionType">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Tranzakció típusa:
„NO" - Normál,
„OP" - Nyitó tételek
„CL" - Záró, rendező tételek</xs:documentation>
															<xs:documentation xml:lang="en">Type of transaction:
"NO" - Normal,
"RT" - Regularizations in the taxation period,
"CR" - Clearance of results,
"AT" - Adjustments Transactions</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="SAFTcodeType">
																<xs:enumeration value="NO"/>
																<xs:enumeration value="OP"/>
																<xs:enumeration value="CL"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Description" type="SAFTlongtextType" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Tranzakció leírása.</xs:documentation>
															<xs:documentation xml:lang="en">Transaction Description</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="SystemID" type="SAFTshorttextType" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Dokumentum egyedi azonosítója, melyet a rendszer generál (belső nyilvántartási szám).</xs:documentation>
															<xs:documentation xml:lang="en">Unique number created by the system for the document</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
