src/schemas/nav/gov/hu/SAF-T_HU/SAFTHU_Reporting_Data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Létrehozta a Nemzeti Adó és Vámhivatal -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" id="SAFT-HU"
	xmlns="http://schemas.nav.gov.hu/SAFT_HU/1.0"
	targetNamespace="http://schemas.nav.gov.hu/SAFT_HU/1.0" version="1.00"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!-- SAFTHU definitions, data types and OECD guideline compatibility -->
	<xs:include schemaLocation="./SAFT_HU_Definitions.xsd"/>
	<!-- -->

	<xs:element name="AuditFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:annotation>
						<xs:documentation xml:lang="hu">Általános információk a szoftverről, melyből az adatok származnak, valamint a vizsgálat alá vont társaság adatai.</xs:documentation>
						<xs:documentation xml:lang="en">Holds general information about the file including the name of the software which produced it; the company on whose behalf the SAF-T is being submitted; and the selection criteria used.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="SAFTHUHeaderStructure">
								<xs:sequence>
									<xs:element name="TaxEntity" type="SAFTmiddle2textType">
										<xs:annotation>
											<xs:documentation xml:lang="hu">Az egység / divízió / ág hivatkozás egyedi azonosítója, amennyiben az adózó adatai több különálló rendszerből származnak. Pl. 1-es raktár</xs:documentation>
											<xs:documentation xml:lang="en">Unique identifier of unit / Division / Branch reference E.g. Warehouse 1</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FileContentType">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájl tartalma. Opciók: 
												„GL” - főkönyvi adatok, 
												„MD” - törzsadatok,
												„SI” - kimenő számla adatok, 
												„PI” - bejövő számla adatok, 
												„TR” - fizetési adatok, 
												„PS” - készlet adatok,
												„MG” - készletmozgás adatok,
												„AS” - gazdasági események adatai, 
												„VA” - ÁFA analitika,
												„RD" - egyéb jelentési adatok</xs:documentation>
											<xs:documentation xml:lang="en">Type of content that the file contains. Options: 
												“GL” – the data of a general ledger, 
												“MD” – master data, 
												"SI” – sales information, 
												“PI” – purchase information, 
												“TR” – payment data, 
												“PS” – physical stock, 
												“MG” – movement of goods, 
												“AT” – data of economic transactions or economic asset events,
												"VA" - VAT Analytics Data,
												"RD" - other reporting data</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="SAFTcodeType">
												<xs:enumeration value="GL"/>
												<xs:enumeration value="MD"/>
												<xs:enumeration value="SI"/>
												<xs:enumeration value="PI"/>
												<xs:enumeration value="TR"/>
												<xs:enumeration value="PS"/>
												<xs:enumeration value="MG"/>
												<xs:enumeration value="AT"/>
												<xs:enumeration value="VA"/>
												<xs:enumeration value="RD"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="NumberOfParts" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájldarabok száma.</xs:documentation>
											<xs:documentation xml:lang="en">Total of number of parts of the file.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PartNumber" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájldarab sorszáma (például 1, 2, 3, ...), ha egy SAF-T fájl több darabra van tagolva.
Az entitás, a fájltartalom (DataType) és az időszak (PeriodStart - PeriodEnd) értékei minden fájlrészben egybeesnek.</xs:documentation>
											<xs:documentation xml:lang="en">Number of the file part (e.g. 1, 2, 3,...), when a SAF-T file is divided in parts. 
The values of the Entity , File Content (DataType) and period (PeriodStart – PeriodEnd) must coincide in all file parts.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="1" name="ReportingData">
					<xs:annotation>
						<xs:documentation xml:lang="hu">Jelentések, kimutatások</xs:documentation>
						<xs:documentation xml:lang="en">Holds reporting, statement or agregated data </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="PhysicalStock">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Árukészlet (leltár)</xs:documentation>
									<xs:documentation xml:lang="en">Physical Stock (Inventory)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded"
											name="PhysicalStockEntry">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Leltár bejegyzés</xs:documentation>
												<xs:documentation xml:lang="en">Inventory entry</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
												<xs:element minOccurs="1" name="WarehouseID"
												type="SAFTmiddle1textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Raktár egyedi azonosítója a törzsadatok alapján.</xs:documentation>
												<xs:documentation xml:lang="en">Warehouse id where the goods are held.
The Warehouse id should be on the Warehouses strcuture.</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="ProductCode"
												type="SAFTmiddle2textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Termék egyedi azonosítója</xs:documentation>
												<xs:documentation xml:lang="en">Goods code</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="StockAccountNo"
												type="SAFTmiddle2textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Termék egyéb azonosítója, amennyiben az árukód nem egyértelműen írná le az árut (pl. áruköteg, gyártási szám, sorozatszám).</xs:documentation>
												<xs:documentation xml:lang="en">Stock batch, lot, serial identification. 
Not used when there is exactly 1 PhysicalStock entry per ProductCode</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="1"
												name="StandardProductType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Terméktípusok osztályozása. Opciók:
„FP" - Késztermék,
„FU" - Üzemanyag,
„LF" - Kenő- és fűtőanyag,
„OT" - Egyéb,
„PA" - Alkatrész,
„PS" - Eladásra vásárolt termék,
„RM" - Nyersanyag,
„SF" - Félkész termék,
„SP" - Tartalék alkatrész,
„UP" - Befejezetlen termelés,
„WR" - Göngyöleg</xs:documentation>
												<xs:documentation xml:lang="en">Product type to determine whether the product/stock type. Options:
"FP" - Finished Product,
"FU" - Fuel,
"LF" - Lubricant and fuel,
"OT" - Other,
"PA" - Parts,
"PS" - Product for sale,
"RM" - Raw material,
"SF" - Semi-finished product,
"SP" - Spare parts,
"UP" - Unfinished production,
"WR" - Wrapping</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
												<xs:restriction base="SAFTcodeType">
												<xs:enumeration value="FP"/>
												<xs:enumeration value="FU"/>
												<xs:enumeration value="LF"/>
												<xs:enumeration value="OT"/>
												<xs:enumeration value="PA"/>
												<xs:enumeration value="PS"/>
												<xs:enumeration value="RM"/>
												<xs:enumeration value="SF"/>
												<xs:enumeration value="SP"/>
												<xs:enumeration value="UP"/>
												<xs:enumeration value="WR"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:element>
												<xs:element minOccurs="0"
												name="CompanyProductType" type="SAFTshorttextType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">A vállalat belső terméktípus osztályozása.</xs:documentation>
												<xs:documentation xml:lang="en">Company internal product type to determine whether the product/stockaccount is raw material, work-in-progress, finished good, merchandise for resale, etc.</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="TariffCode" minOccurs="0"
												maxOccurs="unbounded" type="SAFTHUTariffStructure">
												<xs:annotation>
												<xs:documentation xml:lang="hu">VTSZ</xs:documentation>
												<xs:documentation>Tariff Information</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="ProductStatus"
												type="SAFTshorttextType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Áru állapot jelölő (pl. az adott áru aktív, sérült, használt stb.)</xs:documentation>
												<xs:documentation xml:lang="en">To determine whether the product/stockaccount is discontinued, damaged, obsolete, active, etc.</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0"
												name="StockAccountCommodityCode">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Export/Import jelölése</xs:documentation>
												<xs:documentation xml:lang="en">Classification for import/export</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
												<xs:restriction base="SAFTcodeType">
												<xs:enumeration value="Import"/>
												<xs:enumeration value="Export"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:element>
												<xs:choice minOccurs="0">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Tulajdonos azonosítója</xs:documentation>
												<xs:documentation xml:lang="en">Owner id</xs:documentation>
												</xs:annotation>
												<xs:element minOccurs="0" name="OwnerSupplierID"
												type="SAFTmiddle1textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Tulajdonosazonosító (a törzsadat szállítói struktúrára hivatkozva), ha az állomány tulajdonosa szállító (idegen készlet).</xs:documentation>
												<xs:documentation xml:lang="en">Owner id (referenced to the suppliers structure) if the owner of the stock is a supplier.</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="OwnerCustomerID"
												type="SAFTmiddle1textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Tulajdonosazonosító (a törzsadat vevő struktúrára hivatkozva), ha az állomány tulajdonosa ügyfél (idegen készlet).</xs:documentation>
												<xs:documentation xml:lang="en">Owner id (referenced to the customers structure) if the owner of the stock is a customer.</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:choice>
												<xs:sequence minOccurs="1">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Információ a szabványos mérési egységről.
														Nem szükséges, ha nem alkalmazható.</xs:documentation>
												<xs:documentation xml:lang="en">Information about the standard unit of measurement.
Not needed when not applicable.</xs:documentation>
												</xs:annotation>
												<xs:element name="UOMPhysicalStock"
												type="SAFTcodeType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Mennyiségi egység az UOMTable struktúra alapján</xs:documentation>
												<xs:documentation xml:lang="en">Unit of Measurement for this Physical Stock position.
Eg. Kilo, Metres, Litres (should be created on the UOMTable structure).</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="UOMToUOMBaseConversionFactor"
												type="SAFTHUconversionfactorType" minOccurs="0">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Mennyiségi egység átváltás UOM-ről UOM Base-re</xs:documentation>
												<xs:documentation xml:lang="en">Conversion factor of the UOM to UOM Base
</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
												<xs:element minOccurs="1" name="UnitPrice"
												type="SAFTmonetaryType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Egységár a könyvelés pénznemében.</xs:documentation>
												<xs:documentation xml:lang="en">Base Unit price for this stock account in the header's default currency.</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="OpeningStockQuantity"
												type="SAFTquantityType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Nyitókészlet mennyisége az adatszolgáltatással érintett időszak kezdetén</xs:documentation>
												<xs:documentation>Opening Stock quantity in UOM Physical Stock for the beggining of the selection period</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="1" name="OpeningStockValue"
												type="SAFTmonetaryType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Nyitókészlet értéke a könyvelés pénznemében az adatszolgáltatással érintett időszak kezdetén</xs:documentation>
												<xs:documentation xml:lang="en">Opening stock value in  the header's currency code for the beggining of the selection period</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="ClosingStockQuantity"
												type="SAFTquantityType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Zárókészlet mennyisége az adatszolgáltatással érintett időszak végén</xs:documentation>
												<xs:documentation xml:lang="en">Closing Stock Quantity in UOM Physical Stock for the end of the selection period</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="1" name="ClosingStockValue"
												type="SAFTmonetaryType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Zárókészlet értéke a könyvelés pénznemében az adatszolgáltatással érintett időszak végén.</xs:documentation>
												<xs:documentation xml:lang="en">Closing stock value in  the header's currency code for the end of the selection period</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="TotalIncreaseQuantity"
												minOccurs="1" type="SAFTquantityType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Készlet összes növekedésének mennyisége az adatszolgáltatással érintett időszakban</xs:documentation>
												<xs:documentation xml:lang="en">Total quantity in UOM Physical Stock that was received during the selection period</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="TotalIncreaseValue"
												minOccurs="1" type="SAFTmonetaryType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Készlet összes növekedésének értéke a könyvelés pénznemében az adatszolgáltatással érintett időszakban.</xs:documentation>
												<xs:documentation xml:lang="en">Total value inventory growth in the default currency of the header for the selection period.</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="TotalDecreaseQuantitiy"
												type="SAFTquantityType" minOccurs="1">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Készlet összes csökkenésének mennyisége az adatszolgáltatással érintett időszakban</xs:documentation>
												<xs:documentation xml:lang="en">Total quantity in UOM Physical Stock that left the warehouses during the selection period</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="TotalDecreaseValue"
												minOccurs="1" type="SAFTmonetaryType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Készlet összes csökkenésének értéke a könyvelés pénznemében az adatszolgáltatással érintett időszakban.</xs:documentation>
												<xs:documentation xml:lang="en">Total value of the inventory exits in the default currency of the header for the selection period.</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0"
												name="StockCharacteristics">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Egyéb készlet jellemzők</xs:documentation>
												<xs:documentation xml:lang="en">Stock characteristics</xs:documentation>
												</xs:annotation>
												<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
												<xs:element name="StockCharacteristic"
												type="SAFTshorttextType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Egyéb készlet jellemző (pl. szín, csomagméret stb.)</xs:documentation>
												<xs:documentation xml:lang="en">User definable characteristics of the goods.
Eg. colour, pack size, etc.</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="StockCharacteristicValue"
												type="SAFTmiddle1textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Egyéb készletjellemző értéke, például piros, XXL stb.</xs:documentation>
												<xs:documentation xml:lang="en">Stock characteristic value for specifying the colour, pack sige etc.
Eg. Blue, Size XL, etc.</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="VATAnalitics">
								<xs:annotation>
									<xs:documentation xml:lang="hu">ÁFA analitika</xs:documentation>
									<xs:documentation xml:lang="en">VAT Analitics</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NumberOfEntries"
											type="xs:nonNegativeInteger">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Bejegyzések száma</xs:documentation>
												<xs:documentation xml:lang="en">Number of entries</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TotalInputTaxAmount"
											type="SAFTmonetaryType">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Összes levonható ÁFA forintban.</xs:documentation>
												<xs:documentation>Total input tax amount (HUF)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TotalOutputTaxAmount"
											type="SAFTmonetaryType">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Összes fizetendő ÁFA forintban.</xs:documentation>
												<xs:documentation xml:lang="en">Total output tax amount (HUF)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="VATBalance" type="SAFTmonetaryType">
											<xs:annotation>
												<xs:documentation xml:lang="hu">ÁFA egyenleg forintban.</xs:documentation>
												<xs:documentation xml:lang="en">VAT balance in HUF</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Line" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Sorok</xs:documentation>
												<xs:documentation xml:lang="en">VAT analitics detail</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
												<xs:element name="LineNumber"
												type="SAFTshorttextType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Sorszám</xs:documentation>
												<xs:documentation xml:lang="en">Line number</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="VATAccountID"
												type="SAFTmiddle2textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">ÁFA főkönyvi számlaszám</xs:documentation>
												<xs:documentation xml:lang="en">VAT ledger account number</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="SourceDocumentID"
												type="SAFTmiddle2textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Eredeti bizonylat sorszáma, azonosítója</xs:documentation>
												<xs:documentation xml:lang="en">Original document serial number or identifier</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="SourceDocumentDate"
												type="xs:date">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Bizonylat kiállításának dátuma</xs:documentation>
												<xs:documentation xml:lang="en">Source document issue date</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="TaxPointDate" minOccurs="1"
												type="xs:date">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Teljesítés dátuma</xs:documentation>
												<xs:documentation xml:lang="en">Taxation point date. Source document date if no date is specified.</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="DeliveryPeriod" minOccurs="0">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Teljesítés időszaka</xs:documentation>
												<xs:documentation xml:lang="en">Timeframe of the deliveries</xs:documentation>
												</xs:annotation>
												<xs:complexType>
												<xs:sequence>
												<xs:element name="FromDate" type="xs:date"
												minOccurs="0">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Kezdő dátum</xs:documentation>
												<xs:documentation xml:lang="en">Start date of the deliveries</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="ToDate" minOccurs="0"
												type="xs:date">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Záró dátum</xs:documentation>
												<xs:documentation xml:lang="en">End date of the deliveries</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
												</xs:complexType>
												</xs:element>
												<xs:element name="GLPostingDate" type="xs:date"
												minOccurs="0">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Főkönyvi feladás dátuma</xs:documentation>
												<xs:documentation xml:lang="en">Posting date of on the general ledger entry</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="DueDate" type="xs:date"
												minOccurs="0">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Fizetési határidő</xs:documentation>
												<xs:documentation xml:lang="en">Payment deadline</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="PaymentDate" minOccurs="0"
												type="xs:date">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Pénzügyi teljesítés dátuma</xs:documentation>
												<xs:documentation xml:lang="en">Payment date</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="Taxinformation"
												type="TaxInformationStructure">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Adózási adatok</xs:documentation>
												<xs:documentation xml:lang="en">Tax information details</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="TransactionID"
												type="SAFTmiddle2textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Főkönyvi könyvelés egyedi azonosítója</xs:documentation>
												<xs:documentation xml:lang="en">A unique number assigned to the general ledger entry</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="GrossTotal"
												type="SAFTHUAmountStructureTax" minOccurs="1">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Tranzakció bruttó összesen értéke a könyvelés pénznemében.</xs:documentation>
												<xs:documentation xml:lang="en">Total gross amount in the header's default currency</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="NetTotal"
												type="SAFTHUAmountStructureTax" minOccurs="1">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Tranzakció nettó összesen értéke a könyvelés pénznemében.</xs:documentation>
												<xs:documentation xml:lang="en">Total net amount in the header's default currency</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="Description"
												type="SAFTlongtextType" minOccurs="0">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Tranzakció leírása, egyéb megjegyzések</xs:documentation>
												<xs:documentation xml:lang="en">Description or comment of the transaction</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xsd:choice>
												<xs:element name="CustomerID" minOccurs="0"
												type="SAFTmiddle1textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Vevő egyedi azonosítója</xs:documentation>
												<xs:documentation xml:lang="en">Unique code for the customer</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="SupplierID"
												type="SAFTmiddle1textType" minOccurs="0">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Szállító egyedi azonosítója</xs:documentation>
												<xs:documentation xml:lang="en">Unique code for the supplier</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xsd:choice>
												<xs:element name="TaxDeclarationInfo"
												minOccurs="1">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Adóbevallási információ</xs:documentation>
												<xs:documentation xml:lang="en">Tax declaration info</xs:documentation>
												</xs:annotation>
												<xs:complexType>
												<xs:sequence>
												<xs:element name="TaxDeclarationRowID"
												minOccurs="1" type="SAFTmiddle1textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Adóbevallás sorának azonosítója</xs:documentation>
												<xs:documentation xml:lang="en">Tax declaration row id</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="TaxDeclarationRowDescription"
												type="SAFTlongtextType" minOccurs="1">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Adóbevallás sorának leírása</xs:documentation>
												<xs:documentation xml:lang="en">Description of the tax return line</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CustomerOutstandingInvoices" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Vevői kintlévőségek az adatszolgáltatással érintett időszak végén a könyvelés pénznemében</xs:documentation>
									<xs:documentation xml:lang="en">Customer outstanding invoices at the end of the selection period in the header's default currency</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NumberofEntries"
											type="xs:nonNegativeInteger">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Bejegyzések száma</xs:documentation>
												<xs:documentation xml:lang="en">Number of entries</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Customer" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Vevő kintlevőségek számla adatai</xs:documentation>
												<xs:documentation xml:lang="en">Customer outstanding invoices details</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
												<xs:element name="CustomerID"
												type="SAFTmiddle1textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Vevő egyedi azonosítója</xs:documentation>
												<xs:documentation xml:lang="en">Unique code for the customer</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="CustomerName"
												type="SAFTmiddle2textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Vevő neve</xs:documentation>
												<xs:documentation xml:lang="en">Customer name</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="TotalDebit"
												type="SAFTmonetaryType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Összesített tartozik forgalom a könyvelés pénznemében.</xs:documentation>
												<xs:documentation xml:lang="en">Total debit value of the outstanding invoices in the default currency of the header</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="TotalCredit"
												type="SAFTmonetaryType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Összesített követel forgalom a könyvelés pénznemében.</xs:documentation>
												<xs:documentation xml:lang="en">Total credit value of the outstanding invoices in the default currency of the header</xs:documentation>
												</xs:annotation>
												</xs:element>

												<xs:element minOccurs="1"
												name="OutstandingInvoice"
												type="SAFTHUOutstandingInvoiceStructure"
												maxOccurs="unbounded">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Vevő kintlevőségek számla adatai</xs:documentation>
												<xs:documentation xml:lang="en">Customer outstanding invoice details</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SupplierOutstandingInvoices" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Szállítói kintlévőségek az adatszolgáltatással érintett időszak végén a könyvelés pénznemében</xs:documentation>
									<xs:documentation xml:lang="en">Supplier outstanding invoices at the end of the selection period in the header's default currency</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:sequence>
											<xs:element name="NumberofEntries"
												type="xs:nonNegativeInteger">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Bejegyzések száma</xs:documentation>
												<xs:documentation xml:lang="en">Number of entries</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Supplier" maxOccurs="unbounded">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Szállító kintlevőségek számla adatai</xs:documentation>
												<xs:documentation xml:lang="en">Supplier outstanding invoices details</xs:documentation>
												</xs:annotation>
												<xs:complexType>
												<xs:sequence>
												<xs:element name="SupplierID"
												type="SAFTmiddle1textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Szállító egyedi azonosítója</xs:documentation>
												<xs:documentation xml:lang="en">Unique code for the supplier</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="SupplierName"
												type="SAFTmiddle2textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Szállító neve</xs:documentation>
												<xs:documentation xml:lang="en">Supplier name</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="TotalDebit"
												type="SAFTmonetaryType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Összesített tartozik forgalom a könyvelés pénznemében.</xs:documentation>
												<xs:documentation xml:lang="en">Total debit value of the outstanding invoices in the default currency of the header</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="TotalCredit"
												type="SAFTmonetaryType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Összesített követel forgalom a könyvelés pénznemében.</xs:documentation>
												<xs:documentation xml:lang="en">Total credit value of the outstanding invoices in the default currency of the header</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="1"
												name="OutstandingInvoice"
												type="SAFTHUOutstandingInvoiceStructure"
												maxOccurs="unbounded">
												<xs:annotation>
												<xs:documentation xml:lang="hu">A szállító kintlevőségek számlázási adatai</xs:documentation>
												<xs:documentation xml:lang="en">Supplier outstanding invoice details</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
