src/schemas/nav/gov/hu/SAF-T_HU/SAFTHU_Sales_Invoices_Headers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Létrehozta a Nemzeti Adó és Vámhivatal -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" id="SAFT-HU"
	xmlns="http://schemas.nav.gov.hu/SAFT_HU/1.0"
	targetNamespace="http://schemas.nav.gov.hu/SAFT_HU/1.0" version="1.00"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!-- SAFTHU definitions, data types and OECD guideline compatibility -->
	<xs:include schemaLocation="./SAFT_HU_Definitions.xsd"/>
	<!-- -->

	<xs:element name="AuditFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:annotation>
						<xs:documentation xml:lang="hu">Általános információk a szoftverről, melyből az adatok származnak, valamint a vizsgálat alá vont társaság adatai.</xs:documentation>
						<xs:documentation xml:lang="en">Holds general information about the file including the name of the software which produced it; the company on whose behalf the SAF-T is being submitted; and the selection criteria used.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="SAFTHUHeaderStructure">
								<xs:sequence>
									<xs:element name="TaxEntity" type="SAFTmiddle2textType">
										<xs:annotation>
											<xs:documentation xml:lang="hu">Az egység / divízió / ág hivatkozás egyedi azonosítója, amennyiben az adózó adatai több különálló rendszerből származnak. Pl. 1-es raktár</xs:documentation>
											<xs:documentation xml:lang="en">Unique identifier of unit / Division / Branch reference E.g. Warehouse 1</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FileContentType">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájl tartalma. Opciók: 
												„GL” - főkönyvi adatok, 
												„MD” - törzsadatok,
												„SI” - kimenő számla adatok, 
												„PI” - bejövő számla adatok, 
												„TR” - fizetési adatok, 
												„PS” - készlet adatok,
												„MG” - készletmozgás adatok,
												„AS” - gazdasági események adatai, 
												„VA” - ÁFA analitika,
												„RD" - egyéb jelentési adatok</xs:documentation>
											<xs:documentation xml:lang="en">Type of content that the file contains. Options: 
												“GL” – the data of a general ledger, 
												“MD” – master data, 
												"SI” – sales information, 
												“PI” – purchase information, 
												“TR” – payment data, 
												“PS” – physical stock, 
												“MG” – movement of goods, 
												“AT” – data of economic transactions or economic asset events,
												"VA" - VAT Analytics Data,
												"RD" - other reporting data</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="SAFTcodeType">
												<xs:enumeration value="GL"/>
												<xs:enumeration value="MD"/>
												<xs:enumeration value="SI"/>
												<xs:enumeration value="PI"/>
												<xs:enumeration value="TR"/>
												<xs:enumeration value="PS"/>
												<xs:enumeration value="MG"/>
												<xs:enumeration value="AT"/>
												<xs:enumeration value="VA"/>
												<xs:enumeration value="RD"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="NumberOfParts" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájldarabok száma.</xs:documentation>
											<xs:documentation xml:lang="en">Total of number of parts of the file.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PartNumber" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájldarab sorszáma (például 1, 2, 3, ...), ha egy SAF-T fájl több darabra van tagolva.
Az entitás, a fájltartalom (DataType) és az időszak (PeriodStart - PeriodEnd) értékei minden fájlrészben egybeesnek.</xs:documentation>
											<xs:documentation xml:lang="en">Number of the file part (e.g. 1, 2, 3,...), when a SAF-T file is divided in parts. 
The values of the Entity , File Content (DataType) and period (PeriodStart – PeriodEnd) must coincide in all file parts.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="1" name="TransactionalData">
					<xs:annotation>
						<xs:documentation xml:lang="hu">Tranzakciós adatok és jelentések</xs:documentation>
						<xs:documentation xml:lang="en">Transactional data and reports</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SalesInvoicesHeaders" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Értékesítési dokumentumok fejlécei</xs:documentation>
									<xs:documentation xml:lang="en">Sales documents headers</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>

										<xs:element name="NumberOfHeaderEntries"
											type="xs:nonNegativeInteger">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Az értékesítési dokumentumok fejléceinek a száma az adatszolgáltatással érintett időszakban</xs:documentation>
												<xs:documentation xml:lang="en">Number of sales header invoices entries in the selected period of the header of the file</xs:documentation>
											</xs:annotation>
										</xs:element>


										<xs:element maxOccurs="unbounded" name="Header">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Értékesítési dokumentumok fejléc információ</xs:documentation>
												<xs:documentation xml:lang="en">Sales documents header information</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
												<xs:extension base="SAFTHUInvoiceStructureHeader">
												<xs:sequence>
												<xs:element minOccurs="1" name="CustomerInfo">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Vevőadat</xs:documentation>
												<xs:documentation xml:lang="en">Customer data</xs:documentation>
												</xs:annotation>
												<xs:complexType>
												<xs:sequence>
												<xs:element name="CustomerID"
												type="SAFTmiddle1textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Vevő egyedi azonosítója</xs:documentation>
												<xs:documentation xml:lang="en">Unique code for the customer</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="Name" type="SAFTmiddle2textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Vevőnév</xs:documentation>
												<xs:documentation xml:lang="en">Name of the customer</xs:documentation>
												</xs:annotation>
												</xs:element>

												<xs:element name="BillingAddress"
												type="SAFTHUAddressStructure">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Vevő címe</xs:documentation>
												<xs:documentation xml:lang="en">Customer address</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
												</xs:complexType>

												</xs:element>
												</xs:sequence>
												</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>


									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
