src/schemas/nav/gov/hu/SAF-T_HU/SAFTHU_Payment_Headers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Létrehozta a Nemzeti Adó és Vámhivatal -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" id="SAFT-HU"
	xmlns="http://schemas.nav.gov.hu/SAFT_HU/1.0"
	targetNamespace="http://schemas.nav.gov.hu/SAFT_HU/1.0" version="1.00"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!-- SAFTHU definitions, data types and OECD guideline compatibility -->
	<xs:include schemaLocation="./SAFT_HU_Definitions.xsd"/>
	<!-- -->

	<xs:element name="AuditFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:annotation>
						<xs:documentation xml:lang="hu">Általános információk a szoftverről, melyből az adatok származnak, valamint a vizsgálat alá vont társaság adatai.</xs:documentation>
						<xs:documentation xml:lang="en">Holds general information about the file including the name of the software which produced it; the company on whose behalf the SAF-T is being submitted; and the selection criteria used.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="SAFTHUHeaderStructure">
								<xs:sequence>
									<xs:element name="TaxEntity" type="SAFTmiddle2textType">
										<xs:annotation>
											<xs:documentation xml:lang="hu">Az egység / divízió / ág hivatkozás egyedi azonosítója, amennyiben az adózó adatai több különálló rendszerből származnak. Pl. 1-es raktár</xs:documentation>
											<xs:documentation xml:lang="en">Unique identifier of unit / Division / Branch reference E.g. Warehouse 1</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FileContentType">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájl tartalma. Opciók: 
												„GL” - főkönyvi adatok, 
												„MD” - törzsadatok,
												„SI” - kimenő számla adatok, 
												„PI” - bejövő számla adatok, 
												„TR” - fizetési adatok, 
												„PS” - készlet adatok,
												„MG” - készletmozgás adatok,
												„AS” - gazdasági események adatai, 
												„VA” - ÁFA analitika,
												„RD" - egyéb jelentési adatok</xs:documentation>
											<xs:documentation xml:lang="en">Type of content that the file contains. Options: 
												“GL” – the data of a general ledger, 
												“MD” – master data, 
												"SI” – sales information, 
												“PI” – purchase information, 
												“TR” – payment data, 
												“PS” – physical stock, 
												“MG” – movement of goods, 
												“AT” – data of economic transactions or economic asset events,
												"VA" - VAT Analytics Data,
												"RD" - other reporting data</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="SAFTcodeType">
												<xs:enumeration value="GL"/>
												<xs:enumeration value="MD"/>
												<xs:enumeration value="SI"/>
												<xs:enumeration value="PI"/>
												<xs:enumeration value="TR"/>
												<xs:enumeration value="PS"/>
												<xs:enumeration value="MG"/>
												<xs:enumeration value="AT"/>
												<xs:enumeration value="VA"/>
												<xs:enumeration value="RD"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="NumberOfParts" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájldarabok száma.</xs:documentation>
											<xs:documentation xml:lang="en">Total of number of parts of the file.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PartNumber" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájldarab sorszáma (például 1, 2, 3, ...), ha egy SAF-T fájl több darabra van tagolva.
Az entitás, a fájltartalom (DataType) és az időszak (PeriodStart - PeriodEnd) értékei minden fájlrészben egybeesnek.</xs:documentation>
											<xs:documentation xml:lang="en">Number of the file part (e.g. 1, 2, 3,...), when a SAF-T file is divided in parts. 
The values of the Entity , File Content (DataType) and period (PeriodStart – PeriodEnd) must coincide in all file parts.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="1" name="TransactionalData">
					<xs:annotation>
						<xs:documentation xml:lang="hu">Tranzakciós adatok és jelentések</xs:documentation>
						<xs:documentation xml:lang="en">Transactional data and reports</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="1" name="PaymentHeaders">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Fizetések fejlécének adatai</xs:documentation>
									<xs:documentation xml:lang="en">Payment Header Structure</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NumberOfHeaderEntries"
											type="xs:nonNegativeInteger">
											<xs:annotation>
												<xs:documentation xml:lang="hu">A bejegyzések száma a fizetések fejléceiben</xs:documentation>
												<xs:documentation xml:lang="en">Number of entries on the payments headers
</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SumNetTotal" type="SAFTmonetaryType">
											<xs:annotation>
												<xs:documentation xml:lang="hu">A fizetési fejlécek összes nettó összege a könyvelés pénznemében az adatszolgáltatással érintett időszak alatt.</xs:documentation>
												<xs:documentation xml:lang="en">The total of all Net total amounts of the payment headers during the Selectionperiod on the file header's default currency.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SumGrossTotal" type="SAFTmonetaryType">
											<xs:annotation>
												<xs:documentation xml:lang="hu">A fizetési fejlécek összes bruttó összege a könyvelés pénznemében az adatszolgáltatással érintett időszak alatt.</xs:documentation>
												<xs:documentation xml:lang="en">The total of all Gross total amounts of the payments headers during the Selectionperiod on the file header's default currency.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element maxOccurs="unbounded" name="Header">
											<xs:annotation>
												<xs:documentation xml:lang="hu">A kifizetések fejlécének információi.</xs:documentation>
												<xs:documentation xml:lang="en">Information of the header of the Payments.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>

												<xs:element name="PaymentRefNo"
												type="SAFTmiddle1textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Fizetés egyedi azonosítója</xs:documentation>
												<xs:documentation xml:lang="en">Unique reference number for the payment</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="Period"
												type="xs:nonNegativeInteger">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Könyvelési időszak</xs:documentation>
												<xs:documentation xml:lang="en">Accounting Period</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="TransactionID"
												type="SAFTmiddle2textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Főkönyvi könyvelés tranzakció azonosítója</xs:documentation>
												<xs:documentation xml:lang="en">A unique number assigned to the general ledger entry</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="TransactionDate" type="xs:date">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Dokumentum dátuma</xs:documentation>
												<xs:documentation xml:lang="en">Document date</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="1" name="PaymentMethod">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Fizetési mód. Opciók:
„AS" - Beszámítás,
„BA" - Barter,
„BC" - Bankkártya,
„BE" - Váltó,
„CA" - Készépnz,
„CD" - Utánvét,
„CH" - Csekk,
„CO" - Beszedési megbízás,
„CP" - Kompenzáció,
„FA" - Faktorálás,
„LC" - Akkreditív,
„MT" - Átutalás,
„OD" - Engedményezés,
„OT" - Egyéb,
„PO" - Postai utalvány,
„VO" - Utalvány</xs:documentation>
												<xs:documentation xml:lang="en">Payment method. Options:
"AS" - Assignment
"BA" - Barter,
"BC" - Bank card,
"BE" - Bill of exchange,
"CA" - Cash,
"CD" - Cash on delivery,
"CH" - Cheque,
"CO" - Collection order,
"CP" - Compensation,
"FA" - Factoring
"LC" - Letter of credit,
"MT" - Money transfer,
"OD" - Offset discount,
"OT" - Other,
"PO" - Postal order,
"VO" - Voucher
</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
												<xs:restriction base="SAFTcodeType">
												<xs:enumeration value="AS"/>
												<xs:enumeration value="BA"/>
												<xs:enumeration value="BC"/>
												<xs:enumeration value="BE"/>
												<xs:enumeration value="CA"/>
												<xs:enumeration value="CD"/>
												<xs:enumeration value="CH"/>
												<xs:enumeration value="CO"/>
												<xs:enumeration value="CP"/>
												<xs:enumeration value="FA"/>
												<xs:enumeration value="LC"/>
												<xs:enumeration value="MT"/>
												<xs:enumeration value="OD"/>
												<xs:enumeration value="OT"/>
												<xs:enumeration value="PO"/>
												<xs:enumeration value="VO"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:element>
												<xs:element name="Description"
												type="SAFTlongtextType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Fizetési mód leírása</xs:documentation>
												<xs:documentation xml:lang="en">Payment description</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="1" name="SystemID"
												type="SAFTmiddle1textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Egyedi azonosító szám, melyet a rendszer a dokumentumra generált.</xs:documentation>
												<xs:documentation xml:lang="en">Unique number created by the system for the document</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="1" name="SourceID"
												type="SAFTmiddle1textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Az adatbevitelt végző személy vagy rendszer azonosítója.</xs:documentation>
												<xs:documentation xml:lang="en">Details of the person or application that entered the transaction.
														Eg. Username</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="Settlement">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Elszámolás</xs:documentation>
												<xs:documentation xml:lang="en">Settlement</xs:documentation>
												</xs:annotation>
												<xs:complexType>
												<xs:sequence>
												<xs:element minOccurs="0"
												name="SettlementDiscount"
												type="SAFTmiddle1textType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Elszámolás vagy más árengedmény leírása</xs:documentation>
												<xs:documentation xml:lang="en">Settlement or other discount description </xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="SettlementAmount"
												type="AmountStructure">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Elszámolt összeg</xs:documentation>
												<xs:documentation xml:lang="en">Settlement amount</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="SettlementDate"
												type="xs:date">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Elszámolás dátuma</xs:documentation>
												<xs:documentation xml:lang="en">Date settled</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
												</xs:complexType>
												</xs:element>
												<xs:element minOccurs="1" name="DocumentTotals">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Dokumentum összesítés</xs:documentation>
												<xs:documentation xml:lang="en">Document Totals</xs:documentation>
												</xs:annotation>
												<xs:complexType>
												<xs:sequence>
												<xs:element maxOccurs="unbounded" minOccurs="0"
												name="TaxInformationTotals"
												type="TaxInformationStructure">
												<xs:annotation>
												<xs:documentation xml:lang="hu">A fizetéshez kapcsolódó adóösszesítés.</xs:documentation>
												<xs:documentation xml:lang="en">Tax information summary information related to the payment.</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="NetTotal"
												type="SAFTmonetaryType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Tranzakció nettó (adó nélküli) összege a könyvelés pénznemében.</xs:documentation>
												<xs:documentation xml:lang="en">Total amount excluding tax in the header's default currency.</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="GrossTotal"
												type="SAFTmonetaryType">
												<xs:annotation>
												<xs:documentation xml:lang="hu">Tranzakció bruttó (adót tartalmazó) összege a könyvelés pénznemében.</xs:documentation>
												<xs:documentation xml:lang="en">Total amount including tax in the header's default currency.</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
