src/schemas/nav/gov/hu/SAF-T_HU/Old/SAFT_HU_TOC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 sp1 (x64) (http://www.altova.com) by NAV (Hungarian Tax Authority) -->
<!-- Módosítva a SAFT_HU_Integrated_mod0316.xsd tartalmának megfelelően-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.nav.gov.hu/SAFT_HU/1.0" targetNamespace="http://schemas.nav.gov.hu/SAFT_HU/1.0" elementFormDefault="qualified" version="1.00">
	<!-- -->
	<!-- Include global definitions and types -->
	<!-- -->
	<xs:include schemaLocation="SAFT_HU_Definitions.xsd"/>
	<!-- -->
	<!-- -->
	<!-- Table of Contents File
         Describes data submission content and XML files. -->
	<!-- -->
	<xs:element name="TableOfContents">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Tartalomjegyzék fájl, amely leírja a társaság által benyújtott információkat.</xs:documentation>
			<xs:documentation xml:lang="en">Table Of Contents File that describes the information submitted by the Entities.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<!-- -->
				<!-- Header of the TOC file -->
				<!-- -->
				<xs:element name="Header" minOccurs="1">
					<xs:complexType>
						<xs:sequence minOccurs="1">
							<xs:element name="TOCFileVersion" type="SAFTcodeType">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Tartalomjegyzék verziószáma.</xs:documentation>
									<xs:documentation xml:lang="en">Identification of the Table of Contents version being used.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="AuditID" type="SAFTlongtextType">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Adóhivatali megbízólevélszám.</xs:documentation>
									<xs:documentation xml:lang="en">Unique audit case identifier. Generated by the tax auth Information System.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TOCID" type="SAFTmiddle2textType">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Az adóhivatali adatbekérés egyedi azonosítója, melyet az adóhivatal határoz meg.</xs:documentation>
									<xs:documentation xml:lang="en">Identifier of the Table of Contents File. Generated by the tax auth Information System.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CreationDate" type="xs:date">
								<xs:annotation>
									<xs:documentation xml:lang="hu">A tartalomjegyzék fájl létrehozásának dátuma.</xs:documentation>
									<xs:documentation xml:lang="en">Date of the file creation.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SelectionCriteria" type="SAFTHUSelectionCriteriaStructure" minOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Audit állományok legyűjtésének kritériumai</xs:documentation>
									<xs:documentation>Criteria for collecting Audit File</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TaxEntity" type="SAFTmiddle2textType">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Az egység / divízió / ág hivatkozás egyedi azonosítója, amennyiben az adózó adatai több különálló rendszerből származnak. Pl. 1-es raktár</xs:documentation>
									<xs:documentation xml:lang="en">Unique identifier of unit / Division / Branch reference E.g. Warehouse 1</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- -->
				<!-- Master Data 
                        Master data represents the business objects that contain the most valuable, 
                        agreed upon information shared across an organization.
                        
                        Master data is usually non-transactional in nature, but in some cases gray areas exist where 
                        transactional processes and operations may be considered master data by an organization. 
                        For example, master data may contain information about customers, products, employees, 
                        materials, suppliers, and vendors.
                -->
				<!-- -->
				<xs:element name="MasterData">
					<xs:annotation>
						<xs:documentation xml:lang="hu">A törzsadatok a legértékesebb üzleti objektumokat képviselik, egy szervezeten belül megosztott információkról. A törzsadatok általában nem tranzakciós jellegűek, de bizonyos esetekben ott vannak a szürke területek. A tranzakciós folyamatokat és műveleteket a szervezet törzsadatnak tekintheti. Például a főadatok tartalmazhatnak információkat az ügyfelekről, termékekről, anyagok, beszállítók és gyártók.</xs:documentation>
						<xs:documentation xml:lang="en">Master data represents the business objects that contain the most valuable, agreed upon information shared across an organization. Master data is usually non-transactional in nature, but in some cases gray areas exist where transactional processes and operations may be considered master data by an organization. For example, master data may contain information about customers, products, materials, suppliers, and vendors.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GeneralLedger" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Főkönyv.</xs:documentation>
									<xs:documentation xml:lang="en">GeneralLedger. The chart of accounts used on the accounting.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="SAFTHUZeroOrOne"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Customers" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Vevők</xs:documentation>
									<xs:documentation xml:lang="en">Customers information</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="SAFTHUZeroOrOne"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Suppliers" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Szállítók</xs:documentation>
									<xs:documentation xml:lang="en">Suppliers information</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="SAFTHUZeroOrOne"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Products" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Termékek/szolgáltatások</xs:documentation>
									<xs:documentation xml:lang="en">Goods/Services</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="SAFTHUZeroOrOne"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Owners" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Tulajdonosok</xs:documentation>
									<xs:documentation xml:lang="en">Owners</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="SAFTHUZeroOrOne"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Assets" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Befektetett eszközök</xs:documentation>
									<xs:documentation xml:lang="en">Asset information</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="SAFTHUZeroOrOne"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="OtherMasterData" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Egyéb törzsadatok, pl. raktár információk, adókódok stb. </xs:documentation>
									<xs:documentation xml:lang="en">Other master data, including units definitions, warehouse information, VAT codes</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="SAFTHUZeroOrOne"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="AnalysisTable" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Egyedi elemzések, kimutatások nézeteinek az adatai, amennyiben a rendszer nyilván tart ilyen adatokat. Ilyen lehet például a költség központ azonosítója, költséghely azonosítója, projektszám, rendelésszám, szerződésszám, munkaszám stb</xs:documentation>
									<xs:documentation xml:lang="en">Analysis table used for cost accounting or other additional accounting ledger details.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="SAFTHUZeroOrOne"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- -->
				<!-- Transactional Data
                    
                     Data describing an event on the ERP. Transaction data always has a time dimension, a numerical value and 
                     refers to one or more master data and objects.
                     Typical transactions are:- 
                     Financial and Sales/Purchases: orders, invoices, payments, general ledger entries; 
                     Logistics: deliveries, storage records, travel records, etc. -->
				<!-- -->
				<xs:element name="TransactionalData">
					<xs:annotation>
						<xs:documentation xml:lang="hu">Az ERP-ben gazdasági eseményeket leíró adatok. A tranzakciós adatoknak mindig van idődimenziója, numerikus értéke, és egy vagy több törzsdatra és objektumra hivatkozhatnak. Tipikus tranzakciók: - Pénzügyi és értékesítési / vásárlási: megrendelések, számlák, kifizetések, főkönyvi bejegyzések; Logisztika: szállítások, tárolási nyilvántartások, utazási feljegyzések stb.</xs:documentation>
						<xs:documentation xml:lang="en">Data describing an event on the ERP. Transaction data always has a time dimension, a numerical value and refers to one or more master data and objects.Typical transactions are:- Financial and Sales/Purchases: orders, invoices, payments, general ledger entries; Logistics: deliveries, storage records, travel records, etc.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GeneralLedgerEntriesH">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Főkönyvi tranzakciók fejlécei (a tranzakciók ID, összege a tartozik / követel, dátum, ...)</xs:documentation>
									<xs:documentation xml:lang="en">Headers of the General Entry transaction (transaction ID, totals debit/credit, date, ...)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="xs:nonNegativeInteger"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GeneralLedgerEntriesL">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Főkönyvi tranzakciók részletei. Számla azonosítója, tartozik / követel összeg és hivatkozás a főkönyvi fejléc adatra.</xs:documentation>
									<xs:documentation xml:lang="en">General Ledger Entry details (lines). Account ID, Debit/Credit ammount and reference to GL Entry Header.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="xs:nonNegativeInteger"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SalesInvoicesH">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Kibocsátott számlák fejléc adatai. Számla azonosítója, dátuma, nettó összege, bruttó összege, árfolyamösszegek, ...</xs:documentation>
									<xs:documentation xml:lang="en">Sales Invoice header and totals. Invoice ID, date, net total, gross total, vat totals, ...  </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="xs:nonNegativeInteger"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PurchaseInvoicesH">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Befogadott számlák fejléc adatai. </xs:documentation>
									<xs:documentation xml:lang="en">Purchase Invoice header and totals. Same content as Sales Invoices but referring suppliers and supply chain transactions.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="xs:nonNegativeInteger"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PurchaseInvoicesL">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Befogadott számlák tételsorai. </xs:documentation>
									<xs:documentation xml:lang="en">Purchase Invoice lines and line totals. Same content as Sales Invoices but referring suppliers and supply chain transactions.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="xs:nonNegativeInteger"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PaymentsH">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Kifizetések fejléc adatai (azonosító, módszer, összesített összeg, ...)</xs:documentation>
									<xs:documentation xml:lang="en">Payments/Receivables header and totals (ID, method, totals, ...)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="xs:nonNegativeInteger"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PaymentsL">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Kifizetések tételsor adatai (utalnia kell a fejlécre)</xs:documentation>
									<xs:documentation xml:lang="en">Payments/Receivables lines (must refer the header)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="xs:nonNegativeInteger"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="MovementOfGoodsH">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Árukészlet mozgása fejléc adatai(ID, dátum, címek, összesítések, ...)</xs:documentation>
									<xs:documentation xml:lang="en">Movement of Goods header (ID, date, addresses, totals, ...) </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="xs:nonNegativeInteger"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="MovementOfGoodsL">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Az árukészlet mozgás tételek (kötelező hivatkozás az áruk mozgására vonatkozó fejlécre)</xs:documentation>
									<xs:documentation xml:lang="en">Movement of Goods lines (mandatory reference to Movement of Goods Header)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="xs:nonNegativeInteger"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="AssetTransactions">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Befektetett eszközökkel kapcsolatos tranzakciók (eladás, értékcsökkenés, érvénytelenítés, ...)</xs:documentation>
									<xs:documentation xml:lang="en">Transactions involving fixed assets (sell, depreciate, void, ...)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="SAFTHUZeroOrOne"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- -->
				<!-- Reporting Information
                    
                     Reports from the ERP (Inventory, Outstanding invoices, VAT Analitycs mandatory NAV submission and others -->
				<!-- -->
				<xs:element name="ReportingData">
					<xs:annotation>
						<xs:documentation xml:lang="hu">Jelentések, riportok.</xs:documentation>
						<xs:documentation xml:lang="en">Reports from the ERP (Inventory, Outstanding invoices, VAT Analitycs and others).</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PhysicalStock">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Leltár.</xs:documentation>
									<xs:documentation xml:lang="en">Inventory and physical stock.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="SAFTHUZeroOrOne"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="VATAnalytics">
								<xs:annotation>
									<xs:documentation xml:lang="hu">ÁFA analitika.</xs:documentation>
									<xs:documentation xml:lang="en">VAT analytics.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="SAFTHUZeroOrOne"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GroupingLedger">
								<xs:annotation>
									<xs:documentation xml:lang="hu"/>
									<xs:documentation xml:lang="en"/>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="SAFTHUZeroOrOne"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="OutstandingInvoices">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Ki nem fizetett számlák.</xs:documentation>
									<xs:documentation xml:lang="en">Non paid purchase invoices to suppliers.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="SAFTHUZeroOrOne"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GeneralLedgerStatement">
								<xs:annotation>
									<xs:documentation>Főkönyvi kivonat</xs:documentation>
									<xs:documentation xml:lang="en">General ledger statement</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="SAFTHUZeroOrOne"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CustomerAnalytics">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Vevő analitika</xs:documentation>
									<xs:documentation xml:lang="en">Customer analiytics</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="SAFTHUZeroOrOne"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SupplierAnalytics">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Szállító analitika</xs:documentation>
									<xs:documentation xml:lang="en">Supplier analytics</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NrOfParts" type="SAFTHUZeroOrOne"/>
										<xs:element name="MetaData" type="SAFTHUfileMetadata" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
