src/schemas/nav/gov/hu/SAF-T_HU/Old/SAFTHU_Payment_Lines.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 sp1 (x64) (http://www.altova.com) by NAV (Hungarian Tax Authority) -->
<!-- Létrehozta a Nemzeti Adó és Vámhivatal -->
<!-- Ez egy részsablon. A SAFT_HU__Integrated_mod_0316.xsd szerinti adattartalommal -->
<xs:schema xmlns="http://schemas.nav.gov.hu/SAFT_HU/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.nav.gov.hu/SAFT_HU/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00" id="SAFT-HU">
	<!-- SAFTHU definitions, data types and OECD guideline compatibility -->
	<xs:include schemaLocation="./SAFT_HU_Definitions.xsd"/>
	<!-- -->
	<xs:element name="AuditFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:annotation>
						<xs:documentation xml:lang="hu">Általános információk a szoftverről, melyből az adatok származnak, valamint a vizsgálat alá vont társaság adatai.</xs:documentation>
						<xs:documentation xml:lang="en">Holds general information about the file including the name of the software which produced it; the company on whose behalf the SAF-T is being submitted; and the selection criteria used.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="SAFTHUHeaderStructure">
								<xs:sequence>
									<xs:element name="TaxEntity" type="SAFTmiddle2textType">
										<xs:annotation>
											<xs:documentation xml:lang="hu">Az egység / divízió / ág hivatkozás egyedi azonosítója, amennyiben az adózó adatai több különálló rendszerből származnak. Pl. 1-es raktár</xs:documentation>
											<xs:documentation xml:lang="en">Unique identifier of unit / Division / Branch reference E.g. Warehouse 1</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FileContentType">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájl tartalma. Opciók: 
												„GL” - főkönyvi adatok, 
												„MD” - törzsadatok,
												„SI” - kimenő számla adatok, 
												„PI” - bejövő számla adatok, 
												„TR” - fizetési adatok, 
												„PS” - készlet adatok,
												„MG” - készletmozgás adatok,
												„AS” - gazdasági események adatai, 
												„VA” - ÁFA analitika,
												„RD" - egyéb jelentési adatok</xs:documentation>
											<xs:documentation xml:lang="en">Type of content that the file contains. Options: 
												“GL” – the data of a general ledger, 
												“MD” – master data, 
												"SI” – sales information, 
												“PI” – purchase information, 
												“TR” – payment data, 
												“PS” – physical stock, 
												“MG” – movement of goods, 
												“AT” – data of economic transactions or economic asset events,
												"VA" - VAT Analytics Data,
												"RD" - other reporting data</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="SAFTcodeType">
												<xs:enumeration value="GL"/>
												<xs:enumeration value="MD"/>
												<xs:enumeration value="SI"/>
												<xs:enumeration value="PI"/>
												<xs:enumeration value="TR"/>
												<xs:enumeration value="PS"/>
												<xs:enumeration value="MG"/>
												<xs:enumeration value="AT"/>
												<xs:enumeration value="VA"/>
												<xs:enumeration value="RD"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="NumberOfParts" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájldarabok száma.</xs:documentation>
											<xs:documentation xml:lang="en">Total of number of parts of the file.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PartNumber" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájldarab sorszáma (például 1, 2, 3, ...), ha egy SAF-T fájl több darabra van tagolva.
Az entitás, a fájltartalom (DataType) és az időszak (PeriodStart - PeriodEnd) értékei minden fájlrészben egybeesnek.</xs:documentation>
											<xs:documentation xml:lang="en">Number of the file part (e.g. 1, 2, 3,...), when a SAF-T file is divided in parts. 
The values of the Entity , File Content (DataType) and period (PeriodStart – PeriodEnd) must coincide in all file parts.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="TransactionalData">
					<xs:annotation>
						<xs:documentation xml:lang="hu">Tranzakciós adatok és jelentések</xs:documentation>
						<xs:documentation xml:lang="en">Transactional data and reports</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PaymentLines" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Fizetési sor.</xs:documentation>
									<xs:documentation xml:lang="en">Payment Lines structure
</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NumberOfLineEntries" type="xs:nonNegativeInteger">
											<xs:annotation>
												<xs:documentation xml:lang="hu">A bejegyzések száma a fizetési sorokban</xs:documentation>
												<xs:documentation xml:lang="en">Number of entries on the payments lines
															</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TotalDebit" type="SAFTmonetaryType">
											<xs:annotation>
												<xs:documentation xml:lang="hu">A fizetési fejlécek tartozik oldali összegzése az adatszolgáltatással érintett időszakban a könyvelés pénznenmében.</xs:documentation>
												<xs:documentation xml:lang="en">The total of all debit amounts of the payment lines during the Selectionperiod on the file header's default currency.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TotalCredit" type="SAFTmonetaryType">
											<xs:annotation>
												<xs:documentation xml:lang="hu">A fizetési fejlécek követel oldali összegzése az adatszolgáltatással érintett időszakban a könyvelés pénznenmében.</xs:documentation>
												<xs:documentation>The total of all credit amounts of the payments lines during the Selectionperiod on the file header's default currency.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Line" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="hu">A kifizetések sorainak információi.</xs:documentation>
												<xs:documentation xml:lang="en">Information of the line of the Payments.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PaymentRefNo" type="SAFTmiddle1textType">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Fizetés egyedi azonosítója a fejéc adata alapján. (FK- PaymentHeaders.Header.PaymentRedNo)</xs:documentation>
															<xs:documentation xml:lang="en">(FK- PaymentHeaders.Header.PaymentRedNo)
A unique number assigned to the payment header.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="LineNumber" type="SAFTshorttextType" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Fizetési sor sorszáma.</xs:documentation>
															<xs:documentation xml:lang="en">Number of the payment line</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="SourceDocumentID" type="SAFTmiddle1textType" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Fizetési sorhoz kapcsolódó dokumentum sorszáma (pl. számla sorszáma).</xs:documentation>
															<xs:documentation xml:lang="en">The source document to which the line relates (eg. invoice number)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="AccountID" type="SAFTmiddle2textType" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Főkönyvi számlaszám, beleértve az alszámla számát is. Több szintet is tartalmazhat.</xs:documentation>
															<xs:documentation xml:lang="en">General ledger account number including sub-account number. It may contain several levels.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Analysis" type="AnalysisStructure" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Főkönyvi könyvelés elemzési azonosítója</xs:documentation>
															<xs:documentation xml:lang="en">General ledger analysis codes</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:choice>
														<xs:element name="CustomerID" type="SAFTmiddle1textType" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="hu">Vevő egyedi azonosítója.</xs:documentation>
																<xs:documentation xml:lang="en">Unique Customer id</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="SupplierID" type="SAFTmiddle1textType" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="hu">Szállító egyedi azonosítója</xs:documentation>
																<xs:documentation xml:lang="en">Supplier unique id</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="PartnerID" type="SAFTmiddle1textType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Apartner egyedi azonosítója</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:element name="Description" type="SAFTlongtextType" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Fizetési sor leírása.</xs:documentation>
															<xs:documentation xml:lang="en">Description of the payment line.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="DebitCreditIndicator">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Tartozik vagy követel adat jelzése. A bejegyzésnek a főkönyvi könyvelés tételhez kell kapcsolódnia. Lehetséges értékei:
D - Tartozik
C - Követel
												</xs:documentation>
															<xs:documentation xml:lang="en">Indicates whether the amounts on line-level are debit or credit amounts. Entry must correspond to entry reflected in General Ledger Entry. Signing of lineamounts is relative to this indicator. E.g. a return can lead to a negative amount.
D - debit 
C - credit</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="SAFTcodeType">
																<xs:enumeration value="D"/>
																<xs:enumeration value="C"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PaymentLineAmount" type="SAFTHUInvoiceAmountStructure">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Fizetési sor összege</xs:documentation>
															<xs:documentation xml:lang="en">Payment line amount</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="PaymentMethod" type="SAFTHUPaymentMethodType">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Fizetési mód.
</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Settlements" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Elszámolások</xs:documentation>
															<xs:documentation xml:lang="en">Settlements</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Settlement" type="SAFTHUSettlementStructure" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation xml:lang="hu">Elszámolás</xs:documentation>
																		<xs:documentation xml:lang="en">Settlement</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="SourceID" type="SAFTmiddle1textType">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Az adatbevitelt végző személy vagy rendszer azonosítója.</xs:documentation>
															<xs:documentation xml:lang="en">Details of the person or application that entered the transaction.
														Eg. Username</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="TransactionID" type="SAFTmiddle2textType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>A könyvelési tranzakció egyedi azonosítója</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
