src/schemas/nav/gov/hu/SAF-T_HU/Old/SAFTHU_Reporting_Data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 sp1 (x64) (http://www.altova.com) by NAV (Hungarian Tax Authority) -->
<!-- Létrehozta a Nemzeti Adó és Vámhivatal -->
<!-- Ez egy részsablon. A SAFT_HU__Integrated_mod_0316.xsd szerinti adattartalommal -->
<xs:schema xmlns="http://schemas.nav.gov.hu/SAFT_HU/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.nav.gov.hu/SAFT_HU/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00" id="SAFT-HU">
	<!-- SAFTHU definitions, data types and OECD guideline compatibility -->
	<xs:include schemaLocation="./SAFT_HU_Definitions.xsd"/>
	<!-- -->
	<xs:element name="AuditFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:annotation>
						<xs:documentation xml:lang="hu">Általános információk a szoftverről, melyből az adatok származnak, valamint a vizsgálat alá vont társaság adatai.</xs:documentation>
						<xs:documentation xml:lang="en">Holds general information about the file including the name of the software which produced it; the company on whose behalf the SAF-T is being submitted; and the selection criteria used.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="SAFTHUHeaderStructure">
								<xs:sequence>
									<xs:element name="TaxEntity" type="SAFTmiddle2textType">
										<xs:annotation>
											<xs:documentation xml:lang="hu">Az egység / divízió / ág hivatkozás egyedi azonosítója, amennyiben az adózó adatai több különálló rendszerből származnak. Pl. 1-es raktár</xs:documentation>
											<xs:documentation xml:lang="en">Unique identifier of unit / Division / Branch reference E.g. Warehouse 1</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FileContentType">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájl tartalma. Opciók: 
												„GL” - főkönyvi adatok, 
												„MD” - törzsadatok,
												„SI” - kimenő számla adatok, 
												„PI” - bejövő számla adatok, 
												„TR” - fizetési adatok, 
												„PS” - készlet adatok,
												„MG” - készletmozgás adatok,
												„AS” - gazdasági események adatai, 
												„VA” - ÁFA analitika,
												„RD" - egyéb jelentési adatok</xs:documentation>
											<xs:documentation xml:lang="en">Type of content that the file contains. Options: 
												“GL” – the data of a general ledger, 
												“MD” – master data, 
												"SI” – sales information, 
												“PI” – purchase information, 
												“TR” – payment data, 
												“PS” – physical stock, 
												“MG” – movement of goods, 
												“AT” – data of economic transactions or economic asset events,
												"VA" - VAT Analytics Data,
												"RD" - other reporting data</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="SAFTcodeType">
												<xs:enumeration value="GL"/>
												<xs:enumeration value="MD"/>
												<xs:enumeration value="SI"/>
												<xs:enumeration value="PI"/>
												<xs:enumeration value="TR"/>
												<xs:enumeration value="PS"/>
												<xs:enumeration value="MG"/>
												<xs:enumeration value="AT"/>
												<xs:enumeration value="VA"/>
												<xs:enumeration value="RD"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="NumberOfParts" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájldarabok száma.</xs:documentation>
											<xs:documentation xml:lang="en">Total of number of parts of the file.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PartNumber" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation xml:lang="hu">A fájldarab sorszáma (például 1, 2, 3, ...), ha egy SAF-T fájl több darabra van tagolva.
Az entitás, a fájltartalom (DataType) és az időszak (PeriodStart - PeriodEnd) értékei minden fájlrészben egybeesnek.</xs:documentation>
											<xs:documentation xml:lang="en">Number of the file part (e.g. 1, 2, 3,...), when a SAF-T file is divided in parts. 
The values of the Entity , File Content (DataType) and period (PeriodStart – PeriodEnd) must coincide in all file parts.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="ReportingData">
					<xs:annotation>
						<xs:documentation xml:lang="hu">Jelentések, kimutatások</xs:documentation>
						<xs:documentation xml:lang="en">Holds reporting, statement or agregated data </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PhysicalStock" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Árukészlet (leltár)</xs:documentation>
									<xs:documentation xml:lang="en">Physical Stock (Inventory)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NumberOfEntries" type="xs:nonNegativeInteger">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Bejegyzések száma</xs:documentation>
												<xs:documentation xml:lang="en">Number of entries</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PhysicalStockEntry" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Leltár bejegyzés</xs:documentation>
												<xs:documentation xml:lang="en">Inventory entry</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="WarehouseID" type="SAFTmiddle1textType">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Raktár egyedi azonosítója a törzsadatok alapján.</xs:documentation>
															<xs:documentation xml:lang="en">Warehouse id where the goods are held.
The Warehouse id should be on the Warehouses strcuture.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ProductCode" type="SAFTmiddle2textType">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Termék egyedi azonosítója</xs:documentation>
															<xs:documentation xml:lang="en">Goods code</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="StockAccountNos" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="StockAccountNo" type="SAFTmiddle2textType" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation xml:lang="hu">Termék egyéb azonosítója, amennyiben az árukód nem egyértelműen írná le az árut (pl. áruköteg, gyártási szám, sorozatszám).</xs:documentation>
																		<xs:documentation xml:lang="en">Stock batch, lot, serial identification. 
Not used when there is exactly 1 PhysicalStock entry per ProductCode</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="StandardProductType">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Terméktípusok osztályozása. Opciók:
„FP" - Késztermék,
„FU" - Üzemanyag,
„LF" - Kenő- és fűtőanyag,
„OT" - Egyéb,
„PA" - Alkatrész,
„PS" - Eladásra vásárolt termék,
„RM" - Nyersanyag,
„SF" - Félkész termék,
„SP" - Tartalék alkatrész,
„UP" - Befejezetlen termelés,
„WR" - Göngyöleg</xs:documentation>
															<xs:documentation xml:lang="en">Product type to determine whether the product/stock type. Options:
"FP" - Finished Product,
"FU" - Fuel,
"LF" - Lubricant and fuel,
"OT" - Other,
"PA" - Parts,
"PS" - Product for sale,
"RM" - Raw material,
"SF" - Semi-finished product,
"SP" - Spare parts,
"UP" - Unfinished production,
"WR" - Wrapping</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="SAFTcodeType">
																<xs:enumeration value="FP"/>
																<xs:enumeration value="FU"/>
																<xs:enumeration value="LF"/>
																<xs:enumeration value="OT"/>
																<xs:enumeration value="PA"/>
																<xs:enumeration value="PS"/>
																<xs:enumeration value="RM"/>
																<xs:enumeration value="SF"/>
																<xs:enumeration value="SP"/>
																<xs:enumeration value="UP"/>
																<xs:enumeration value="WR"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CompanyProductTypes" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="hu">A vállalat belső terméktípus osztályozásaok</xs:documentation>
															<xs:documentation xml:lang="en">Company internal product type to determine whether the product/stockaccount is raw material, work-in-progress, finished good, merchandise for resale, etc.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CompanyProductType" type="SAFTshorttextType" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation xml:lang="hu">A vállalat belső terméktípus osztályozása.</xs:documentation>
																		<xs:documentation xml:lang="en">Company internal product type to determine whether the product/stockaccount is raw material, work-in-progress, finished good, merchandise for resale, etc.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ProductStatus" type="SAFTshorttextType" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Áru állapot jelölő (pl. az adott áru aktív, sérült, használt stb.)</xs:documentation>
															<xs:documentation xml:lang="en">To determine whether the product/stockaccount is discontinued, damaged, obsolete, active, etc.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:choice minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Tulajdonos azonosítója</xs:documentation>
															<xs:documentation xml:lang="en">Owner id</xs:documentation>
														</xs:annotation>
														<xs:element name="OwnerSupplierID" type="SAFTmiddle1textType" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="hu">Tulajdonosazonosító (a törzsadat szállítói struktúrára hivatkozva), ha az állomány tulajdonosa szállító (idegen készlet).</xs:documentation>
																<xs:documentation xml:lang="en">Owner id (referenced to the suppliers structure) if the owner of the stock is a supplier.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="OwnerCustomerID" type="SAFTmiddle1textType" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="hu">Tulajdonosazonosító (a törzsadat vevő struktúrára hivatkozva), ha az állomány tulajdonosa ügyfél (idegen készlet).</xs:documentation>
																<xs:documentation xml:lang="en">Owner id (referenced to the customers structure) if the owner of the stock is a customer.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="OwnerPartnerID" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Tulajdonosazonosító (a törzsadat partner struktúrára hivatkozva), ha az állomány tulajdonosa ügyfél (idegen készlet).</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:element name="ProductInformation" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Termék mennyiségének, és mennyiség egységének jelölése</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Quantity" type="SAFTquantityType">
																	<xs:annotation>
																		<xs:documentation xml:lang="hu">Termék mennyisége abszulut értékben</xs:documentation>
																		<xs:documentation xml:lang="en">Quantity of goods</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="UnitOfMeasure" type="SAFTcodeType">
																	<xs:annotation>
																		<xs:documentation xml:lang="hu">Mennyiségi egység (pl. kg, m, db stb.)</xs:documentation>
																		<xs:documentation xml:lang="en">Unit of measure (ex. Kg, Un, To, etc)</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="UOMToUOMPhysicalStockConversionFactor" type="SAFTHUconversionfactorType" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation xml:lang="hu">Mennyiségi egység átváltási értéke UOM-re</xs:documentation>
																		<xs:documentation xml:lang="en">Conversion factor of the UOM to UOMPhysicalStock Base</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Price" type="SAFTmonetaryType">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Ár a könyvelés pénznemében.</xs:documentation>
															<xs:documentation xml:lang="en">Base Unit price for this stock account in the header's default currency.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="StockCharacteristics" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Egyéb készlet jellemzők</xs:documentation>
															<xs:documentation xml:lang="en">Stock characteristics</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence maxOccurs="unbounded">
																<xs:element name="StockCharacteristic" type="SAFTshorttextType">
																	<xs:annotation>
																		<xs:documentation xml:lang="hu">Egyéb készlet jellemző (pl. szín, csomagméret stb.)</xs:documentation>
																		<xs:documentation xml:lang="en">User definable characteristics of the goods.
Eg. colour, pack size, etc.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="StockCharacteristicValue" type="SAFTmiddle1textType">
																	<xs:annotation>
																		<xs:documentation xml:lang="hu">Egyéb készletjellemző értéke, például piros, XXL stb.</xs:documentation>
																		<xs:documentation xml:lang="en">Stock characteristic value for specifying the colour, pack sige etc.
Eg. Blue, Size XL, etc.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="VATAnalytics" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">ÁFA analitika</xs:documentation>
									<xs:documentation xml:lang="en">VAT Analytics</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NumberOfEntries" type="xs:nonNegativeInteger">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Bejegyzések száma</xs:documentation>
												<xs:documentation xml:lang="en">Number of entries</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TotalInputTaxAmount" type="SAFTmonetaryType">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Összes levonható ÁFA forintban.</xs:documentation>
												<xs:documentation>Total input tax amount (HUF)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TotalOutputTaxAmount" type="SAFTmonetaryType">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Összes fizetendő ÁFA forintban.</xs:documentation>
												<xs:documentation xml:lang="en">Total output tax amount (HUF)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="VATBalance" type="SAFTmonetaryType">
											<xs:annotation>
												<xs:documentation xml:lang="hu">ÁFA egyenleg forintban.</xs:documentation>
												<xs:documentation xml:lang="en">VAT balance in HUF</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="VATPeriods">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="VATPeriod" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="TaxDeclarationPeriodType">
																	<xs:annotation>
																		<xs:documentation xml:lang="hu">Adózási nyilatkozat időszak típusa, lehetőségek:
„M" - Havonta,
„Q" - Negyedévente,
„Y" - Évente

</xs:documentation>
																		<xs:documentation xml:lang="en">Tax declaration period type, options:
"M" - Montly,
"Q" - Quarterly,
"Y" - Yearly </xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="SAFTcodeType">
																			<xs:enumeration value="M"/>
																			<xs:enumeration value="Q"/>
																			<xs:enumeration value="Y"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="TaxDeclarationPeriod" type="SAFTshorttextType">
																	<xs:annotation>
																		<xs:documentation xml:lang="hu">Adóelszámolási időszak, amely időszaki bevallásban szerepel az adó összege (eg. 2019-05, 2019, 2019-1Q)</xs:documentation>
																		<xs:documentation xml:lang="en">The identification of the declaration/return period in which the tax amount is reported to the Revenue body (eg.  2019-05, 2019, 2019-1Q)</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="Line" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation xml:lang="hu">Sorok</xs:documentation>
																		<xs:documentation xml:lang="en">VAT analitics detail</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="LineNumber" type="SAFTshorttextType">
																				<xs:annotation>
																					<xs:documentation xml:lang="hu">Sorszám</xs:documentation>
																					<xs:documentation xml:lang="en">Line number</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="VATAccountID" type="SAFTmiddle2textType" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation xml:lang="hu">ÁFA főkönyvi számlaszám</xs:documentation>
																					<xs:documentation xml:lang="en">VAT ledger account number</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="SourceDocumentID" type="SAFTmiddle2textType">
																				<xs:annotation>
																					<xs:documentation xml:lang="hu">Eredeti bizonylat sorszáma, azonosítója</xs:documentation>
																					<xs:documentation xml:lang="en">Original document serial number or identifier</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="SourceDocumentDate" type="xs:date">
																				<xs:annotation>
																					<xs:documentation xml:lang="hu">Bizonylat kiállításának dátuma</xs:documentation>
																					<xs:documentation xml:lang="en">Source document issue date</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="TaxPointDate" type="xs:date" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation xml:lang="hu">Teljesítés dátuma</xs:documentation>
																					<xs:documentation xml:lang="en">Taxation point date. Source document date if no date is specified.</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="GLPostingDate" type="xs:date" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation xml:lang="hu">Főkönyvi feladás dátuma</xs:documentation>
																					<xs:documentation xml:lang="en">Posting date of on the general ledger entry</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="Taxinformation" type="TaxInformationStructure">
																				<xs:annotation>
																					<xs:documentation xml:lang="hu">Adózási adatok</xs:documentation>
																					<xs:documentation xml:lang="en">Tax information details</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="TransactionID" type="SAFTmiddle2textType" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation xml:lang="hu">Főkönyvi könyvelés egyedi azonosítója</xs:documentation>
																					<xs:documentation xml:lang="en">A unique number assigned to the general ledger entry</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="Description" type="SAFTlongtextType" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation xml:lang="hu">Tranzakció leírása, egyéb megjegyzések</xs:documentation>
																					<xs:documentation xml:lang="en">Description or comment of the transaction</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:choice>
																				<xs:element name="CustomerID" type="SAFTmiddle1textType" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation xml:lang="hu">Vevő egyedi azonosítója</xs:documentation>
																						<xs:documentation xml:lang="en">Unique code for the customer</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="SupplierID" type="SAFTmiddle1textType" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation xml:lang="hu">Szállító egyedi azonosítója</xs:documentation>
																						<xs:documentation xml:lang="en">Unique code for the supplier</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PartnerID" type="SAFTmiddle1textType" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>PArtner egyedi azonosítója</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:choice>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GroupingLedger" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Csoportos könyvelés kimutatás</xs:documentation>
									<xs:documentation xml:lang="en">Grouping ledger</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NumberOfEntries" type="xs:nonNegativeInteger">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Bejegyzések száma</xs:documentation>
												<xs:documentation xml:lang="en">Number of entries</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Transaction" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="hu">Tranzakció</xs:documentation>
												<xs:documentation xml:lang="en">Transaction</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TransactionID" type="SAFTshorttextType">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Tranzakció azonosítója </xs:documentation>
															<xs:documentation xml:lang="en">Transaction identifier</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="SourceDocument" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation xml:lang="hu">Forrásbizonylat </xs:documentation>
															<xs:documentation xml:lang="en">Source Document</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SourceDocumentID" type="SAFTshorttextType">
																	<xs:annotation>
																		<xs:documentation xml:lang="hu">Forrásbizonylat sorszáma vagy azonosítója </xs:documentation>
																		<xs:documentation xml:lang="en">Source document serial number or identifier</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:choice>
																	<xs:element name="DebitAmount" type="AmountStructure">
																		<xs:annotation>
																			<xs:documentation xml:lang="hu">Forrásbizonylat tartozik összege</xs:documentation>
																			<xs:documentation xml:lang="en">Debit amount of source document</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="CreditAmount" type="AmountStructure">
																		<xs:annotation>
																			<xs:documentation xml:lang="hu">Forrásbizonylat követel összege</xs:documentation>
																			<xs:documentation xml:lang="en">Credit amount of source document</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:choice>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="OutStandingInvoices" type="SAFTHUOutstandingInvoiceStructure" minOccurs="0"/>
							<xs:element name="GeneralLedgerStatement" type="SAFTHUGeneralLedgerStatementSructure" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Főkönyvi kivonat</xs:documentation>
									<xs:documentation xml:lang="en">General ledger statement</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CustomerAnalytics" type="SAFTHUCustomerAnalyticsSructure" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="hu">Vevő analitika</xs:documentation>
									<xs:documentation xml:lang="en">Customer analytics</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SupplierAnalytics" type="SAFTHUSupplierAnalyticsStructure" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
